.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(-25deg, #616161 0%, #96B7C4 100%);

  height: 100vh;
  width: 100%;
  --def: #96B7C4; 	
	--inv: #fff;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);

}

/*  FORM-STYLING */
.Form {

  align-items: center; 
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  height: 100vh;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nav Button Hover Border */
.nav-link:hover {
  border-bottom:1px solid #D7b740;
  border-right:1px solid #D7b740;
  border-top:1px solid #D7b740;
  border-left:1px solid #D7b740;
  background:rgba(0,0,0,.5);
  transition:all 1s;
}

/* BUTTON GLOW ON HOVER---------START */
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* BUTTON GLOW ON HOVER---------END */

/*  JumboTron2 Background Image */


/*  JumboTron2 Background Image */
  .Home-Jumbotron-2 {
    margin-top: 20px;
    background-image: url("./images/build.jpg");
    background-size: auto 100%;
  
  }
  